
<%= search_form_for @q, url: users_items_path do |f| %>
  <%= f.label :title, "商品名" %>
  <%= f.search_field :title_cont %>

  <%= f.submit "検索" %>
<% end %>

</h1>検索結果</h>
<div class="container-fluid">
    <div class="row">
	<div class="col-md-2"></div>
		<div class="col-md-8">
			<table class=table >
				<tr>
					<tr>
			     <% @items.each do |item| %>
			        </tr>
					<td>
					    <% item.items_images.each do |image| %>
						 <%= attachment_image_tag image, :image, :fill, 200, 200 %>
						<% end %>
					</td>
					<td>商品名<br>
						<h3><%= link_to  item.title ,users_item_path(item.id) %><h3></td>
					<td>ジャンル　|<%= item.genre.genre_name %></td>
					<td>レーベル　|<%= item.label.label_name %></td>
					<td>Artist<br>
					    <%= item.artist %></td>
					<td>価格　|</td>
					<td><%= item.price %>円</td>
				 <% end %>
				</tr>
			</table>
			<%= paginate @items %>
		</div>
	<div class="row">
	</div>
</div>
