
<%= search_form_for @q, url: users_items_path do |f| %>
  <%= f.label :title, "商品名" %>
  <%= f.search_field :title_cont %>

  <%= f.submit "検索" %>
<% end %>

</h1>検索結果</h>
<div class="container-fluid">
    <div class="row">
	<div class="col-md-1"></div>
		<div class="col-md-10">
			<table class=table >
			     <% @items.each do |item| %>
					<tr>
						<td>
						    <% item.items_images.each do |image| %>
							 <%= attachment_image_tag image, :image, :fill, 200, 200 %>
							<% end %>
						</td>
						<td>
							<table>
							<tr>
								<td>商品名<br>
									<h3><%= link_to  item.title ,users_item_path(item.id) %></h3>
								</td>
							</tr>
							<tr>
									<td><h4>Artist</h4><%= item.artist %></td>
							</tr>
							</table>
						</td>
						<td>
				   			 <table class="table table-striped">
								<tr>
									<td>ジャンル　| <%= item.genre.genre_name %></td>
								</tr>
								<tr>
									<td>レーベル　| <%= item.label.label_name %></td>
								</tr>
								<tr>
									<td>レーベル　| <%= item.label.label_name %></td>
								</tr>
								<tr>
								    <td>価格　　　| <%= item.price %>円</td>
								</tr>
							</table>
						</td>
					</tr>
				 <% end %>
			</table>
			<%= paginate @items %>
		</div>
	<div class="col-md-1"></div>
	<div class="row">
	</div>
</div>
