
<%= search_form_for @q, url: users_items_path do |f| %>
  <%= f.label :title, "商品名" %>
  <%= f.search_field :title_cont %>

  <%= f.submit "検索" %>
<% end %>

</h1>検索結果</h>
<div class="container-fluid">
    <div class="row">
	<div class="col-md-2"></div>
		<div class="col-md-8">
			<table class=table >
				<tr>
			     <% @items.each do |item| %>
			     <tr>
					<td><% @item.items_images.each do |image| %>
					<%= attachment_image_tag image, :image, :fill, 200, 200 %></td>
					<td>商品名<td>
					<td><%= item.title %></td>
					<td>アーティスト名</td>
					<td><%= item.artist %></td>
					<td>商品価格</td>
					<td><%= item.price %></td>
					<td><%= link_to "詳細",users_item_path(item.id) %></td>
				</tr>
				 <% end %>
				</tr>
			</table>
			<%= paginate @items %>
		</div>
	<div class="row">
	</div>
</div>
