
<div class="container-fluid">
	<h1>商品詳細</h1>

    <div class="row">
	                           <div class="col-md-1"></div>
		<div class="col-md-11">
			<table class=table >
				<tr>
					<td width="50%">
						<% @item.items_images.each do |image| %>
						<%= attachment_image_tag image, :image, :fill, 350, 350 %>
						<%end%>
					</td>
					<td width="30%">
						<table>
						   <tr>商品名<br>
							<h3><%= @item.title %></h3></tr>
						 <tr>
						   アーティスト名<br>
						    <h3><%= @item.artist %></h3>
						 </tr>
						 <tr>
						     販売状況<br>
							   <h3><%= @item.selling_status %></h3>

						</tr>
						</table>
					</td>
					<td width="20%">
						<table>
							<td><h5>商品価格</h5><%= (@item.price * 1.08).floor %>円(税込み)</td>
							<%= form_for @item,url: add_item_path,method: :post do |f| %>
							  <%= f.hidden_field :item_id, :value => "#{@item.id}" %>
							  <%= f.hidden_field :quantity, :value => "1" %>
							  <tr>
							  <%	if @total_stock <= 0 || @item.selling_status == "販売停止中"%><!--または販売ステータスが販売停止中-->
							  <% else %>
								  <td><%= f.submit 'カートに入れる' %></td>
							  <% end %>
							<% end %>
						    </tr>
						</table>
					</td>
				</tr>
			</table>
			<table class=table >
				<tr>
					<h4>商品情報</h4>
					<td>
					</td>
					<td width="70%">
						<table>
							<tr>
								<% @item.discs.each do |disc| %>
								<h4>Disc<%= disc.disc %></h4>
								<% disc.songs.each do |song| %>
								<%= song.song_order %>.
								<%= song.song_title %>
								<% end %>
								<% end %>
							</tr>
							<tr>
								<h4>商品説明</h4>
								<tr>
								<td><%=@item.comment %></td>
							    </tr>
							</tr>
						</table>
					</td>
					<td width="30%">
						<table class="table table-striped">
							<tr>
							<td>ジャンル　　　　　　|  <%=@genre.genre_name %></td>
						    </tr>
						    <tr>
							<td>シングル・アルバム　|  <%=@item.disc_type %></td>
						    </tr>
						    <tr>
							<td>レーベル　　　　　　|  <%=@label.label_name %></td>
						    </tr>
						      <tr>
                  <h3>いいね件数: <%= @item.likes.count %></h3>
                  <% if current_end_user.already_liked?(@item) %>
                    <%= button_to 'いいねを取り消す', item_like_path(@item), method: :delete %>
                  <% else %>
                    <%= button_to 'いいね', item_likes_path(@item) %>
                  <% end %>
                </tr>
						</table>
					</td>
				</tr>
			</table>
					<p><%= link_to "戻る ", users_items_path  %></p>
		</div>
	</div>
</div>
