<% if @cart_items.empty? %>
  お客様のカートに商品は入っていません
<% else %>
  <% total_price = 0 %>
  <%= form_for @item,url: update_item_path(@item),method: :post do |f| %>
    <% cart_item_ids = [] %> <!--カート内商品それぞれのid格納用-->
      <% @cart_items.each_with_index do |cart_item, i| %> <!--カート商品を１つ１つ取得-->
        <% total_quantity_i = 0 %>
        <% cart_item.item.arrivals.each do |item_arrival| %><!--カート商品の入荷数を1つ１つ取得-->
          <% total_quantity_i  += item_arrival.arrivals_quantity %><!--カート商品の入荷数総数-->
        <% end %>

        <% total_item_quantity_i = 0 %>
        <% cart_item.item.items_orders.each_with_index do |item_quantity,i| %><!--販売済み商品の総数-->
          <% total_item_quantity_i += item_quantity.quantity %>
        <% end %>

        <% total_stock = total_quantity_i - total_item_quantity_i %><!-- 在庫数量 = 入荷総数 - 販売済み商品の総数 -->


        <!--入荷数<%#= total_quantity_i %>-->
        <!--販売数<%= total_item_quantity_i %>-->

        <% cart_item_ids.push(cart_item.id) %>
        <div class="form-box">
        <p class="cart_item_menu" data-price="<%= cart_item.item.price %>">

        <% cart_item.item.items_images.each do |image| %>
          <%= attachment_image_tag image, :image, :fill, 200, 200 %>
        <% end %><br>

        <%= cart_item.item.title %>
        <span class="price"><%= (cart_item.item.price * 1.08).floor %>円(税込み)</span></p>
        <% total_price += cart_item.item.price * cart_item.quantity %>
        </div>

        <%= select_tag("cart_item_id" + cart_item.id.to_s, options_for_select((1..total_stock), selected: cart_item.quantity.to_i) {}, id:"cart-quo-" + i.to_s) %>
        <%= f.hidden_field :item_id, :value => cart_item_ids %>
        <%= link_to "削除",cart_content_path(cart_item),method: :delete %><br>

      <% end %>
      <%= f.submit "レジに進む" %><br>
      小計<%= f.text_field :title, id: "item_price_total", name: "小計", value:  "#{(total_price * 1.08).floor}円",  readonly: 'readonly' %>
  <% end %>
<% end %>

<script>
  $('select').change(function(){
    var array = [];
    for(var i = 0; i < $(".cart_item_menu").length; i++){
      item_price = $(".cart_item_menu").eq(i).data("price");
      item_select = $(`#cart-quo-${i} option:selected`).val()
        array.push(item_price * item_select)
     }
    var total = 0;
    for(var j = 0; j < array.length; j++){
      total += array[j];
    }
    $("#item_price_total").val(total + "円");

  })

</script>
