<%= form_for @destination,url: users_destination_path(@destination.id) do |f| %>

  <p>名前(姓)</p><%= f.text_field :last_name %>
  <p>名前(名)</p><%= f.text_field :first_name %>
  <p>フリガナ(姓)</p><%= f.text_field :last_kana %>
  <p>フリガナ(名)</p><%= f.text_field :first_kana %>
  <p>電話番号</p><%= f.text_field :phone_number %>
  <p>郵便番号</p><%= f.text_field :post_code %>
  <p>住所</p><%= f.text_area :address %>


  <%= f.submit "登録", class: "btn btn-default" %>
  <%= link_to "削除", users_destination_path(@destination.id),method: :delete %>
<% end %>
