<h1>入荷情報一覧</h1>
<table class="table table-hover table-inverse">
	<tbody>

		<% @arrivals.each do |arrival| %>
		
			<p>商品名</p>
			<span><%= link_to arrival.item.title, admins_item_path(arrival.item_id) %></span>
			<p>入荷枚数</p>
			<span><%= arrival.arrivals_quantity %>枚</span>
			<p>入荷予定日</p>
			<span><%= arrival.arrivals_date.strftime("%Y年%-m月%-d日 ") %></span>
			<%= link_to '編集', edit_admins_item_arrival_path(arrival.item.id, arrival.id) %>
         
		<% end %>

		<td><%= link_to "TOPへ ", admins_path  %></td>

	</tbody>
</table>
