<h1>ジャンル一覧</h1>
<% @genres.each do |genre| %>
    <br> <span><%= genre.genre_name %></span>
       <%= link_to "編集", edit_admins_genre_path(genre.id) %>
       <%= link_to "削除",admins_genre_path(genre.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
     <% end %><br>
<%= paginate @genres %>
  <td><%= link_to "戻る ", admins_path  %></td>

  
