<div class="container text-center">
  <button type="button" class="btn btn-primary mt-5">ジャンルを登録する</button>
</div>

<div class="container text-center">
  <button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="F#post">ジャンルを登録する</button>
  <div class="modal fade" id="post" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_for @genre, url: admins_genres_path do |f| %>
      </div>
        <div class="modal-footer">
          <h4>ジャンル</h4>
           <%= f.text_field :genre_name,class: "form-control", placeholder:"ジャンル内容を入力" %>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
             <%= f.submit '送信' , class: "btn btn-primary"%>
           </div>
         <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<td><%= link_to "戻る ", admins_genres_path  %></td>



<h1>ジャンル登録</h1>
<!-- form_for部分 -->
<%= form_for @genre, url: admins_genres_path do |f| %>


    <h4>ジャンル</h4>
    <%= f.text_field :genre_name %>
     <td><%= link_to "戻る ", admins_genres_path  %></td>
    <%= f.submit '送信' %>

<% end %>



