<h1>商品一覧</h1>
<% @items.each do |item| %>
	<td>
					    <% item.items_images.each do |image| %>
						 <%= attachment_image_tag image, :image, :fill, 200, 200 %>
						<% end %>
					</td>
   <p>商品名</p>
     <span><%= link_to item.title, admins_item_path(item.id) %></span>

   <p>アーティスト名</p>
     <span><%= item.artist %></span>
   <p>商品価格</p>
     <span><%= item.price %></span>

<% end %>
<%= paginate @items %>
<td><%= link_to "戻る ", admins_path  %></td>
