<h1>商品の詳細</h1>
<p>商品名</p>
  <span><%= @item.title %></span>
<p>アーティスト名</p>
  <span><%= @item.artist %></span>
<p>商品価格</p>
  <span><%= @item.price %></span>
<td><%= link_to "戻る ", items_path %></td>
  <%= link_to "編集", edit_item_path(@item.id) %> 
  <%= link_to "削除",item_path(@item.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>