<p>ユーザー情報</p>

名前(姓) <%= @enduser.last_name %><br>
名前(名) <%= @enduser.first_name %><br>
フリガナ(姓) <%= @enduser.last_kana %><br>
フリガナ(名) <%= @enduser.first_kana %><br>
郵便番号 〒<%= @enduser.post_code %> <p>*ハイフン不要</p>
住所 <%= @enduser.address %><br>
電話番号 <%= @enduser.phone_number %> <p>*ハイフン不要</p>
メールアドレス <%= @enduser.email %><br>
<%= link_to "編集",edit_admins_admin_path(@enduser.id) %>


<!-- 注文購入履歴を書く -->

<%= link_to "戻る", admins_admins_path %>
