
<!-- <if admin> -->
<!-- <h1>おっす！オラ悟空</h1> -->
<!-- <h1>オラ、つえーやつみるとワクワクすっぞ!!</h1> -->



<table>
	<p>管理者ページ</p>
  <thead>
    <tr>
      <th>商品について</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to "商品の登録 ", new_admins_item_path  %></td>
     </tr>
      <tr>

        <td><%= link_to "受注一覧 ", admins_path  %></td>

        <td><%= link_to "入荷予定 ", arrivals_index_path %></td>



      </tr>

      </tr>
  </tbody>
</table><br>


<table>
  <thead>
    <tr>
      <th>商品一覧</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to "商品一覧 ", admins_items_path  %></td>
      </tr>

      </tr>
  </tbody>
</table><br>

<table>
  <thead>
    <tr>
      <th>ユーザー 一覧</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to "ユーザー 一覧 ", admins_admins_path  %></td>
      </tr>

      </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>レーベル一覧</th>
    </tr>
  </thead>

  <tbody>
      <tr>

        <td><%= link_to "レーベル　登録 ", new_admins_label_path  %></td>
        <td><%= link_to "レーベル　一覧 ", admins_labels_path  %></td>
      </tr>

      </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>ジャンル一覧</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= link_to "ジャンル　登録 ", new_admins_genre_path  %></td>
        <td><%= link_to "ジャンル　一覧 ", admins_genres_path  %></td>
      </tr>

      </tr>
  </tbody>
</table>

</body>
</html>



