<h1>受注編集</h1>
  <%= form_for @order, url: admins_order_path(@order.id)do |f| %>
    <%= f.label :last_name, "名前(姓)"%>
    <%= f.text_field :last_name %><br>
    <%= f.label :first_name, "名前(名)" %>
    <%= f.text_field :first_name %><br>
    <%= f.label :last_kana, "フリガナ(姓)" %>
    <%= f.text_field :last_kana %><br>
    <%= f.label :first_kana, "フリガナ(名)" %>
    <%= f.text_field :first_kana %><br>
    <%= f.label :phone_number, "電話番号" %>
    <%= f.text_field :phone_number %><br>
    <%= f.label :post_code, "郵便番号" %>〒
    <%= f.text_field :post_code %><br>
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %><br>
<%= f.submit '送信' %>
<% end %>
    <%@order.items.each do |item|%>
      <%= form_for item, url: admins_order_path(item.id)do |f| %>

        <h4>商品名</h4>
          <%= f.text_field :title %>
        <h4>アーティスト名</h4>
          <%= f.text_field :artist %>

        <h4>商品価格</h4>
          <%= f.text_field :price %>

        <h4>数量</h4>
         <%= f.fields_for :arrivals do |b| %>
      <%= b.number_field :items_order_quantity,min:1 %>
      <% end %>
     
 
    <%= link_to "戻る ", admins_orders_path  %>
    <%= f.submit '送信' %>
     <% end %>
    <% end %>


    <!-- last_name first_name last_kana :first_kana :phone_number :phone_number -->

    is dele