<% subtotal_price = 0 %>
<% total_price = 0 %>
<div class="maincontent">
<h1>受注詳細画面</h1>
名前  <%= @order.last_name + @order.first_name %>(<%= @order.last_kana + @order.first_kana%>)<br>
郵便番号  <%= @order.post_code %><br>
住所  <%= @order.address %><br>
電話番号  <%= @order.phone_number %><br>
決済方法  <%= @order.payment %><br>
ステータス  <%= @order.order_status %><br><br>


注文内容<br>
<% @order.items_orders.each do |order_item| %>
  <%= order_item.item.title %>
  数量<%= order_item.quantity %>
  <% subtotal_price += order_item.quantity * order_item.price %>
  小計¥<%= subtotal_price.to_s(:delimited)  %><br>
  <% total_price += subtotal_price %>
<% end %>
総計¥<%= total_price.to_s(:delimited) %><br>

<%= link_to "戻る",admins_orders_path %>
</div>
