
<!DOCTYPE html>
<html land="ja">
  <head>
      <title>KINRECO</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  </head>
<header class="navbar-inverse">
  <% if admin_signed_in? %>
<!--<nav class="navbar navbar-default">--> <!--初期色からの変更-->
	<div class="container-fluid">
		<div class="navbar-header">
      <div class="king_icon">
          <%= link_to root_path, data: {"turbolinks" => false} do %>
            <%= image_tag "king.png", size: "190x80" %>
          <% end %>
      </div>
		</div>
		<div class="nav navbar-nav navbar-right">
			<div class="navbar-form navbar-left">
				<div class="form-group">
          <%= search_form_for @search, url: admins_items_path do |f| %>
            <%= f.search_field :title_cont, id: "autocomplete_search",class: "form-control",placeholder:"商品名で検索"  %>
            <input name="arrayJson" type="hidden" value=<%= @autocomplete_item %> class='arrayJson' >
            <%= f.submit "検索",class: "btn btn-default" %>
          <% end %>
          <ul class="nav navbar-nav">
    				<li><%=link_to"TOPページへ戻る" ,admins_path, data: {"turbolinks" => false},class: "glyphicon glyphicon-home top" %></li>
    				<li><a class="glyphicon glyphicon-link " href="/admins/items/new"> 商品登録</a></li>
    				<li><%= link_to destroy_admin_session_path,method: :delete do %><span class="glyphicon glyphicon-log-out logout"></span>ログアウト<% end %></li>
    			</ul>
        </div>
			</div>
		</div>
	</div>
<!--</nav>-->
  <% elsif end_user_signed_in? %>
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="king_icon">
          <%= link_to root_path, data: {"turbolinks" => false} do %>
            <%= image_tag "king.png", size: "190x80" %>
          <% end %>
      </div>
    </div>
    <div class="nav navbar-nav navbar-right">
      <div class="navbar-form navbar-left">
        <div class="form-group">
          <%= search_form_for @search, url: users_items_path do |f| %>
            <%= f.search_field :title_cont, id: "autocomplete_search",class: "form-control",placeholder:"商品名で検索"  %>
            <input name="arrayJson" type="hidden" value=<%= @autocomplete_item %> class='arrayJson' >
            <%= f.submit "検索",class: "btn btn-default" %>
          <% end %>
          <ul class="nav navbar-nav">
            <li><%= link_to current_end_user.last_name + current_end_user.first_name + "さん", mypage_path(current_end_user.id) %></li>
            <li><%= link_to "購入履歴",users_path %></li>
            <li><%= link_to "🛒ショッピングカート",cart_content_path(current_end_user.id) %></li>
            <li><%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <% else %>
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="king_icon">
            <%= link_to root_path, data: {"turbolinks" => false} do %>
              <%= image_tag "king.png", size: "190x80" %>
            <% end %>
        </div>
      </div>
      <div class="nav navbar-nav navbar-right">
        <div class="navbar-form navbar-left">

          <div class="form-group">
            <%= search_form_for @search, url: users_items_path do |f| %>
              <%= f.search_field :title_cont, id: "autocomplete_search",class: "form-control",placeholder:"商品名で検索"  %>
              <input name="arrayJson" type="hidden" value=<%= @autocomplete_item %> class='arrayJson' >
              <%= f.submit "検索",class: "btn btn-default" %>
            <% end %>
            <ul class="nav navbar-nav">
              <li><%= link_to 'こんにちは、ゲストさん' %></li>
              <li><%= link_to '新規会員登録', new_end_user_registration_path %></li>
              <li><%= link_to "ログイン", new_end_user_session_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% end %>
</header>
<body>

  <%= yield %>

  <script>
    var arrayJson = $('.arrayJson').val();
    var array = JSON.parse(arrayJson || "null");

    $('#autocomplete_search').autocomplete({
      source: array,
      autoFocus: true,
      delay: 200
    });
  </script>
</body>
<footer>
       <div class = "return">
    <% if end_user_signed_in? %>
      <%= link_to "TOPへ戻る ", root_path , :style=>"color:black;", data: {"turbolinks" => false}%>
    <% elsif admin_signed_in? %>
      <%= link_to "TOPへ戻る ", admins_path , :style=>"color:black;", data: {"turbolinks" => false}%>
    <% end %>
    </div>
    <div class="footer_text">
      CDの良さを体験してもらう<br>
      ヤングジェネレーション向けの<br>
      KINRECOという<br>
      CDショップです<br>
    </div>
</footer>
</html>
