
<!DOCTYPE html>
<html land="ja">
  <head>
      <title>KINRECO</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css"/>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  </head>

  <header class="navbar-inverse">
    <%if admin_signed_in? %>
      <div class="containerhead">
        <nav class="navbar-left">
          <%= link_to root_path do %>
            <%= image_tag "KINRECO2.png" %>
          <% end %>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
            <li><a class="glyphicon glyphicon-home top" href="/admins"> TOPページへ戻る</a></li>
            <li><a class="glyphicon glyphicon-link " href="/admins/items/new"> 商品登録</a></li>
            <li><%= link_to destroy_admin_session_path,method: :delete do %>
              <span class="glyphicon glyphicon-log-out logout">ログアウト</span><%end%></li>
          </ul>
          <%= search_form_for @search, url: admins_items_path do |f| %>
            <%= f.search_field :title_cont, id: "autocomplete_search" %>
            <input name="arrayJson" type="hidden" value=<%= @autocomplete_item %> class='arrayJson' >
            <%= f.submit "検索" %>
          <% end %>
        </nav>
      </div>
    <% elsif end_user_signed_in? %>
      <div class="containerhead">
        <nav class="navbar-left">
          <%= link_to root_path do %>
            <%= image_tag "KINRECO2.png" %>
          <% end %>
        </nav>
        <nav>
          <div id= "slidemenu">
            <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
              <li class="headtext">
                <%= link_to current_end_user.last_name + current_end_user.first_name + "さん", mypage_path(current_end_user.id) %>
              </li>
              <li class="headtext">
                <%= link_to "購入履歴"  %>
              </li>
              <li class="headtext">
                <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %>
              </li>
              <li class="headtext">
                <%= link_to "🛒ショッピングカート",cart_content_path(current_end_user.id)  %>
              </li>
              <%= search_form_for @search, url: users_items_path do |f| %>
                <%= f.text_field :title_cont,id: "autocomplete_search" %>
                <input name="arrayJson" type="hidden" value=<%= @autocomplete_item %> class='arrayJson' >
                <%= f.submit "検索" %>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    <% else %>
      <nav class="navbar-left">
        <%= link_to "サイトロゴ", root_path %>
      </nav>
      <nav>
        <div id= "slidemenu">
          <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
            <li class="headtext">
              こんにちは、ゲストさん
            </li>
            <li class="headtext">
              <%= link_to '新規会員登録', new_end_user_registration_path %>
            </li>
            <li class="headtext">
              <%= link_to "ログイン", new_end_user_session_path  %>
            </li>
          </ul>
          <%= search_form_for @search, url: users_items_path do |f| %>
            <%= f.text_field :title_cont,id: "autocomplete_search" %>
            <input name="arrayJson" type="hidden" value=<%= @autocomplete_item %> class='arrayJson' >
            <%= f.submit "検索" %>
          <% end %>
        </div>
      </nav>
    <% end %>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <div>
      CDの良さを体験してもらう<br>
      ヤングジェネレーション向けの<br>
      KINRECOという<br>
      CDショップです<br>
    </div>
  </footer>
</html>

<script>
  var arrayJson = $('.arrayJson').val();
  var array = JSON.parse(arrayJson);

  $('#autocomplete_search').autocomplete({
    source: array,
    autoFocus: true,
    delay: 200
  });
</script>
